
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div class="form-container">
    <h2 class="form-title">Personal Information Form</h2>
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" name="Name" placeholder="Enter your full name" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="Password" placeholder="Enter your password" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="Email" placeholder="Enter your email" required>
        </div>

        <div class="mb-3">
            <label for="dob" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="dob" name="Dob" required>
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-success btn-lg">Create</button>
        </div>
    </form>
</div>


